@font-face {
  font-family: 'Lato-Bold';
  src: url('fonts/Lato-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('fonts/Lato-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-Italic';
  src: url('fonts/Lato-Italic.ttf') format('ttf');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('fonts/Lato-Regular.ttf') format('ttf');
}
